.modal {
  display: block;
  max-height: 90vh;
  overflow-y: scroll;
  &.hidden {
    display: none;
  }

  a {
    text-decoration: underline;
  }
  .content {
    border: 2px solid white;
    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5em;
      line-height: 1em;
      font-size: 1.7em;
      cursor: pointer;
      background-color: transparent;
      color: white;
      border: none;
    }
    ul {
      padding-left: 0;
    }
  }
}
