.modal {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  overflow-y: auto;

  &.hidden {
    display: none;
  }

  a {
    text-decoration: underline;
  }
  .content {
    border: 2px solid white;
    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5em;
      line-height: 1em;
      font-size: 1.7em;
      cursor: pointer;
      background-color: transparent;
      color: white;
      border: none;
    }
    ul {
      padding-left: 0;
    }
  }
}
