.page {
  a {
    text-decoration: underline;
  }
}
.row {
  margin-top: 0;
}
.banner {
  background-size: cover;
  background: url('/images/HOME-SLIDER1.jpg') 0 50%;
  h1 {
    color: white;
    font-size: 8vw;
    text-align: center;
    padding: 1.5em 1em;
  }
}

.section {
  padding-bottom: 0;
}
.note {
  margin-bottom: 1em;
}
.event {
  margin: 1em 0;
  .title {
    font-weight: bold;
    margin-bottom: 0;
  }
  .date {
    font-weight: bold;
    display: inline;
  }
  .location {
    font-weight: bold;
    display: inline;
    &:before {
      content: ', ';
    }
  }
  .description {
    a {
      color: #0070f3;
    }
  }
}
