.page {
  a {
    text-decoration: underline;
  }
  position: relative;
  padding-bottom: 0;
}

.logo {
  width: 100%;
  min-height: 100%
}

$fade: 20vh;

.container::before {
  content: "";
  position: absolute;
  top: -$fade;
  left: 0;
  right: 0;
  height: $fade;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  pointer-events: none;
}
.container {
  width: 100vw;
  position: relative;
  top: -1em;
  background-color: white;
  padding: 0 5vw 2em;
  color: black;
  margin-left: 0;
  margin-right: 0;
}
.contents {
  position: relative;
  margin: auto;
  max-width: 70vw;
  .outline {
    margin: auto;
    ul {
      text-align: left;
      padding: 1em 0 1em 50%;
      list-style: none inside none;
      & > li {
        transform: translateX(-40%);
        min-width: 20em;
      }
    }
  }
  .steps {
  }
}
.step {
  font-weight: bold;
  color: limegreen;
}
.bold {
  font-weight: bold;
}
